extends layout

block content

            div.main.container
                div.col-md-12
                    div.card
                        div.card-body
                            h3 Ajouter une pizza :
                            br
                            div.container
                                div.row
                                    div.col-md-12
                                        form(action='/pizza/ajout1' method='post' enctype='multipart/form-data')
                                            p Nom de la pizza :
                                            input.form-control(type='text', value='Entrez un nom', name='designpizz')
                                            p Description de la pizza :
                                            input.form-control(type='text', value='Entrez une description', name='description')
                                            p Tarif de la pizza :
                                            input.form-control(type='number', step='0.01', name='tarif')
                                            input.form-control(type='file', name='filetoupload')
                                            button.btn.btn-light(type='submit') Valider
                            a(href='/pizza')
                                button.btn.btn-light Retour